@using AppConsultorio.Models
@model List<EmpleadoCLS>

@{
    ViewBag.Title = "Empleados";
    //Castear
    List<SelectListItem> listaContrato = (List<SelectListItem>)ViewBag.listaContrato;
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaIdentificacion = (List<SelectListItem>)ViewBag.listaIdentificacion;
    List<SelectListItem> listaCargo = (List<SelectListItem>)ViewBag.listaCargo;
}

<h2>Empleados</h2>
@*@Html.ActionLink(" ", "", "Empleado", new { @class = "btn btn-success fas fa-user-plus" })*@
<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-user-plus"></i>
</button>
<br />
<br />

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divEmpleado",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))

{
    @Html.TextBox("nombre", null, new { @class = "form-control col-md-3", @placeholder = "Buscar nombre del empleado" })
    <br />
    <div id="divEmpleado">
        @Html.Partial("_InfoEmpleado", Model)
    </div>
}
@*@Html.ValidationMessage("nombre", new { @class="text-danger"})*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Empleado", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar"
                //UpdateTargetId="divEmpleado",
                //InsertionMode=InsertionMode.Replace

            }))
            {
                @Html.Hidden("titulo")
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Nombres")
                        @Html.TextBox("nombreC", null, new { @class = "form-control" })
                        @Html.ValidationMessage("nombre",new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Apellidos")
                        @Html.TextBox("apellido", null, new { @class = "form-control" })
                        @Html.ValidationMessage("apellido", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Identificación")
                        @Html.DropDownList("idtipoIdentificacion", listaIdentificacion, new { @class = "form-control" })
                        @Html.ValidationMessage("idtipoIdentificacion", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Número de identificación")
                        @Html.TextBox("numeroIdentificacion", null, new { @class = "form-control" })
                        @Html.ValidationMessage("numeroIdentificacion", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Sexo")
                        @Html.DropDownList("idSexo", listaSexo, new { @class = "form-control" })
                        @Html.ValidationMessage("idSexo", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Dirección")
                        @Html.TextBox("direccion", null, new { @class = "form-control" })
                        @Html.ValidationMessage("direccion", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Barrio")
                        @Html.TextBox("barrio", null, new { @class = "form-control" })
                        @Html.ValidationMessage("barrio", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Teléfono fijo")
                        @Html.TextBox("telefono", null, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Celular")
                        @Html.TextBox("celular", null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessage("celular", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Contrato")
                        @Html.DropDownList("idtipoContrato", listaContrato, new { @class = "form-control" })
                        @Html.ValidationMessage("idtipoContrato", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Fecha de contrato")
                        @Html.TextBox("fechacontrato", null, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessage("fechacontrato", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Cargo a desempeñar")
                        @Html.DropDownList("idCargo", listaCargo, new { @class = "form-control" })
                        @Html.ValidationMessage("idCargo", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
    function Limpiar() {
        document.getElementById("nombreC").value = "";
        document.getElementById("apellido").value = "";
        document.getElementById("numeroIdentificacion").value = "";
        document.getElementById("idtipoIdentificacion").value = "";
        document.getElementById("idSexo").value = "";
        document.getElementById("direccion").value = "";
        document.getElementById("barrio").value = "";
        document.getElementById("telefono").value = "";
        document.getElementById("celular").value = "";
        document.getElementById("idtipoContrato").value = "";
        document.getElementById("fechacontrato").value = "";
        document.getElementById("idCargo").value = "";
    }
    function Agregar() {
        Limpiar();
        document.getElementById("titulo").value = -1;
    }
    function Guardar(resultado) {
        if (resultado == 1) {
            $("#frmFiltro").trigger("submit");
            alert("Se guardo correctamente");
            document.getElementById("btnClose").click();
        } else {
            alert("Ocurrio un error");
        }       
    }
    function Editar(id) {
        document.getElementById("titulo").value = id;
        alert(id);
    }
</script>

