@using AppConsultorio.Models
@model List<EmpleadoCLS>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<table class="table table-bordered table-hover table-sm-responsive">

    <thead class="thead-light">
        <tr>
            @*"p=>" esto es variable de rango*@
            <th>@Html.LabelFor(p => Model[0].idempleado)</th>
            <th>@Html.LabelFor(p => Model[0].nombre)</th>
            <th>@Html.LabelFor(p => Model[0].apellido)</th>
            <th>@Html.LabelFor(p => Model[0].fechacontrato)</th>
            <th>@Html.LabelFor(p => Model[0].direccion)</th>
            <th>@Html.LabelFor(p => Model[0].barrio)</th>
            <th>@Html.LabelFor(p => Model[0].telefono)</th>
            <th>@Html.LabelFor(p => Model[0].celular)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idempleado</td>
                <td>@item.nombre</td>
                <td>@item.apellido</td>
                <td>@item.fechacontrato.ToString("dd/MM/yyyy")</td>
                <td>@item.direccion</td>
                <td>@item.barrio</td>
                <td>@item.telefono</td>
                <td>@item.celular</td>
            </tr>
        }

    </tbody>

</table>

