@using AppConsultorio.Models
@model List<UsuarioCLS>
@{
    ViewBag.Title = "Index";

    List<SelectListItem> listaPersona = (List<SelectListItem>)ViewBag.listaPersona;
    List<SelectListItem> listaRol = (List<SelectListItem>)ViewBag.listaRol;
    List<SelectListItem> listaTipoUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}

<h2>Usuarios</h2>

<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-user-plus"></i>
</button>

<br />
<br />

@using (Ajax.BeginForm("Filtrar", "Usuario", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divUsuario",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmFiltro" }))
{
    @Html.TextBox("nombreEmpleado", null, new { @class = "form-control col-md-3", @placeholder = "Buscar nombre del empleado" })
    <br />
    <div id="divUsuario">
        @Html.Partial("_TablaUsuario", Model)
    </div>

}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Usuario", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "error",
                InsertionMode = InsertionMode.Replace
                //UpdateTargetId = "divEmpleado",
                //InsertionMode = InsertionMode.Replace

            }))
            {
                @Html.Hidden("titulo")
                @Html.Hidden("nombreEmpleadoEnviar")
                <div class="modal-body">
                    <div class="container-fluid">
                        <div>
                            @*<div class="col-md" style="display:none">
                                    @Html.Label("Id Usuario")
                                    @Html.TextBox("idUsuario", null, new { @class = "form-control", @readOnly = true })
                                </div>*@
                            <div class="col-md">
                                @Html.Label("Nombre usuario")
                                @Html.TextBox("nombreU", null, new { @class = "form-control" })
                            </div>
                            <div class="col-md" id="divContra">
                                @Html.Label("Contraseña")
                                @Html.Password("contrasena", null, new { @class = "form-control" })
                            </div>
                            <div class="col-md" id="divEmpleado">
                                @Html.Label("Nombre de empleado")
                                @Html.DropDownList("idAnon", listaPersona, new { @class = "form-control" })
                            </div>
                            <div class="col-md">
                                @Html.Label("Nombre rol")
                                @Html.DropDownList("idRol", listaRol, new { @class = "form-control" })
                            </div>
                            <div class="col-md">
                                @Html.Label("Tipo usuario")
                                @Html.DropDownList("idTipoUsuario", listaTipoUsuario, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
            <div id="error"></div>

        </div>
    </div>
</div>

<!-- Modal confirmacion eliminacion-->
<div class="modal fade" id="confirmarEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro de eliminar el usuario?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarConfirmacion" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="EliminarRegistro()" class="btn btn-danger">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script>
    var nombre = document.getElementById("nombreEmpleado");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
    function Limpiar() {
        var controles = document.getElementsByClassName("form-control");
        var control;
        for (var i = 0; i < controles.length; i++) {
            control = controles[i];
            control.value = "";
        }
        document.getElementById("error").innerHTML = "";
    }
    function Agregar() {
        Limpiar();
        document.getElementById("error").innerHTML = "";
        document.getElementById("titulo").value = "-1";
        document.getElementById("divContra").style.display = "block";
        document.getElementById("divEmpleado").style.display = "block";
    }
    var idAnon = document.getElementById("idAnon");
    idAnon.onchange = function () {
        document.getElementById("nombreEmpleadoEnviar").value = idAnon.options[idAnon.selectedIndex].text;
    }


    function Guardar(rpta) {
        if (rpta == "0" || rpta == "1" || rpta == "2") {
            $("#frmFiltro").trigger("submit");
            alert("Se guardo correctamente");
            document.getElementById("btnClose").click();
        } else {
            alert("Ocurrio un error");
        }
    }
    function Editar(id) {
        Limpiar();
        document.getElementById("error").innerHTML = "";
        document.getElementById("titulo").value = id;
        document.getElementById("divContra").style.display = "none";
        document.getElementById("divEmpleado").style.display = "none";

        $.get("Usuario/recuperarDatos/?idUsuario=" + id, function (data) {
            document.getElementById("nombreU").value = data.nombreU;
            document.getElementById("idRol").value = data.idRol;
            document.getElementById("idTipoUsuario").value = data.idTipoUsuario;
            //no genere error de validacion o campo requerido
            document.getElementById("contrasena").value = "1";
            document.getElementById("idAnon").value = "1";
        })
    }
    function Eliminar(idUsuario) {
        document.getElementById("titulo").value = idUsuario;
    }
    //Esta funcion es la que realmente hace la eliminacion del registro
    function EliminarRegistro() {
        var id = document.getElementById("titulo").value;
        $.get("Usuario/eliminar/?idUsuario=" + idUsuario, function (data) {
            if (data == "1") {
                alert("Se ejecuto correctamente");
                //Para refrescar
                $("#frmFiltro").trigger("submit");
                //
                document.getElementById("btnCerrarConfirmacion").click();
            } else {
                alert("Ocurrio un error");
            }
        })

    }
</script>