@using AppConsultorio.Models
@model List<PacienteCLS>

<div class="table-responsive-md">
    <table class="table table-bordered table-md-responsive table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número de identificación</th>
                <th>Celular</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idPaciente</td>
                    <td>@item.nombre</td>
                    <td>@item.apellido</td>
                    <td>@item.numeroIdentificacion</td>
                    <td>@item.celular</td>
                    <td>
                        <button type="button" onclick="location.href='@Url.Action("InfoCompleto", "Paciente", new { @id = item.idPaciente })'" class="btn btn-info">
                            <i class="far fa-address-card fa-lg"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
