@*@using AppConsultorio.Models
    @model List<PacienteCLS>*@
@model PagedList.IPagedList<AppConsultorio.Models.PacienteCLS>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Paciente";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pacientes</h2>
@Html.ActionLink("Agregar paciente", "Agregar", "Paciente", null, new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink(" ", "generarPDF", "Paciente", null, new { @class = "far fa-file-pdf fa-2x", Style = "color:Red;", @target = "_blank" })
@Html.ActionLink(" ", "generadorExcel", "Paciente", null, new { @class = "far fa-file-excel fa-2x", Style = "color:Green;", @target = "_blank" })
@*<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-user-plus"></i>
    </button>*@
<br />

@*@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divPaciente",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmFiltro" }))*@

@*{*@
@*@Html.TextBox("nombrePaciente", null, new { @class = "form-control col-md-3", @placeholder = "Buscar por nombre del paciente" })*@
<br />

<div id="divPaciente">
    @Html.Partial("_TablaPaciente", Model)
</div>

@*}*@
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<script>
    var nombreFiltro = document.getElementById("nombrePaciente");
    nombreFiltro.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>